<!--div class="row">
  <div class="col-md-4">
  	<div>
  		content chats
  	</div>
  </div>
  <div class="col-md-8" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>
      	<div class="header">
          {{usuario_nombre}}
          <button (click)="printConversas()">print</button>
          <button (click)="addConversa()">add</button>
        </div>
    </nb-card-header>
      <nb-card-body>
		<div class="chatbox">
			<div class="chatlogs">
				<div *ngFor="let msg of msgList">
					<div *ngIf="msg.emisor_id == toUser.id" class="chat friend">
						<div class="user-photo"><img src="{{msg.userAvatar}}"></div>
						<p class="chat-message">{{msg.msg}}</p>
					</div>
					<div *ngIf="msg.emisor_id == user.id" class="chat self">
						<div class="user-photo"><img src="{{msg.userAvatar}}"></div>
						<p class="chat-message">{{msg.msg}}</p>
					</div>
				</div>
			</div>

			<div class="chat-form">
				<textarea name="msg" [(ngModel)]="editorMsg" id="msg"></textarea>
				<button [disabled]="!editorMsg || editorMsg == ''" (click)="sendMsg()">Enviar</button>
			</div>

		</div>        
      </nb-card-body>
    </nb-card>
  </div>
</div-->

<div class="wrapper">
    <div class="containerChat">
        <div class="left">
            <nb-tabset fullWidth style="height: 100% !important;">
		        <nb-tab tabTitle="Usuarios">
		        	<div class="content-initChat" (click)="getUsuariosCliRep(modal2, 2)">
		        		<i class="fa fa-edit search"></i> Iniciar Conversación con Usuario
		        	</div>
		        	<!--div class="top">
		                <input type="text" placeholder="buscar usuario" />
		            </div-->
		            <ul class="people" >
		                <li class="person" *ngFor="let item of conversationsCli" (click)="getChatOfConversa(item)">
		                	<i class="ion-close-round icon-delete" (click)="open(modal1); aEliminar(item)"></i>
		                    <img src="{{item.usuario.imagen}}" alt="" />
		                    <span class="name">{{item.usuario.nombre}}</span>
		                    <span class="time">{{item.ultimo_msg.created_at | relativeTime}}</span>
		                    <span class="preview">{{item.ultimo_msg.msg}}</span>
		                </li>  
		            </ul>
		        </nb-tab>
		        <nb-tab tabTitle="Proveedores">
		        	<div class="content-initChat" (click)="getUsuariosCliRep(modal2, 3)">
		        		<i class="fa fa-edit search"></i> Iniciar Conversación con Proveedor
		        	</div>
		          <ul class="people">
		                <li class="person" *ngFor="let item of conversationsRep" (click)="getChatOfConversa(item)">
		                	<i class="ion-close-round icon-delete" (click)="open(modal1); aEliminar(item)"></i>
		                    <img src="{{item.usuario.imagen}}" alt="" />
		                    <span class="name">{{item.usuario.nombre}}</span>
		                    <span class="time">{{item.ultimo_msg.created_at | relativeTime}}</span>
		                    <span class="preview">{{item.ultimo_msg.msg}}</span>
		                </li> 
		            </ul>
		        </nb-tab>
		    </nb-tabset>
        </div>
        <div class="right">
            <div class="top">
            	<span class="name">{{usuario_nombre}}</span>
            	<i class="fa fa-refresh icon-refresh" (click)="refreshChat()"></i>
            </div>
			<div class="chatbox">
				<div #scrollChat class="chatlogs message-wrap">
			    <div *ngFor="let msg of msgList"
			         class="message"
			         [class.leftmsg]=" msg.emisor_id == toUser.id "
			         [class.rightmsg]=" msg.emisor_id == user.id ">
			      <img class="user-img" [src]="msg.userAvatar" alt="" >
			      <!--ion-spinner name="dots" *ngIf="msg.status === 1"></ion-spinner-->
			      <div class="msg-detail">
			        <div class="msg-info">
			          <p>{{msg.created_at | relativeTime}}</p>
			        </div>
			        <div class="msg-content">
			          <span class="triangle"></span>
			          <p class="line-breaker ">{{msg.msg}}</p>
			        </div>
			      </div>
			    </div>
				</div>
			    <div class="chat-form">
					<textarea name="msg" [(ngModel)]="editorMsg" id="msg" placeholder="Escribe un mensaje..." (keydown)="enterMsg($event)"></textarea>
					<button type="button" class="btn btn-primary btn-icon btn-send" [disabled]="!editorMsg || editorMsg == ''" (click)="sendMsg()">
						<i class="ion-android-send icon-send"></i>
					</button>
				</div>
			</div>        
        </div>
    </div>
</div>

<ng-template #modal1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Chat: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Realmente desea eliminar el chat con {{eliminar_nombre}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); deletChat()">Eliminar</button>
  </div>
</ng-template>

<ng-template #modal2 let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h4 class="modal-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <nb-card >
      <nb-card-header>
        <div class="row show-grid">
              <div class="col-6">
                <div>Lista de {{titulo_tabla}}</div>
              </div>
              <div class="col-6">
                <div>
                  <div style="text-align: right;">
                   <strong>Buscar: </strong>
                   <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
                  </div>
                </div>
              </div>
            </div>
      </nb-card-header>

      <nb-card-body>

        <table class="table table-striped">
	       <thead>
	         <th></th>
	         <!-- <th style="text-align: center;">ID</th> -->
	         <th style="text-align: center;">Nombre</th>
	         <th style="text-align: center;">Email</th>
	         <th style="text-align: center;">Teléfono</th>
	         <!-- <th style="text-align: center;">Ciudad</th>
	         <th style="text-align: center;">Estado</th> -->
	         <th style="text-align: center;">Acciones</th>
	      </thead>
	      <tbody>
	         <tr *ngFor="let item of items" >
	            <td></td>
	            <td style="text-align: center;">{{item.nombre}}</td>
	            <td style="text-align: center;">{{item.email}}</td>
	            <td style="text-align: center;">{{item.telefono}}</td>
	            <!-- <td style="text-align: center;">{{item.ciudad}}</td>
	            <td style="text-align: center;">{{item.estado}}</td> -->
	            <td style="text-align: center;">
	              <button type="button" class="btn btn-primary btn-icon" title="Chat" (click)="c('Close click'); selectUsuarioList(item)">
	                <i class="nb-email"></i>
	              </button>
	            </td>
	         </tr>
	      </tbody>
	    </table>
		          
      </nb-card-body>
      <nb-card-footer>
        <div class="btn-toolbar" role="toolbar" style="margin: 0;">
	      <div class="btn-group">
	         <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
	      </div>
	      <div class="btn-group pull-right">
	         <ul class="pagination" >
	            <li class="page-item" [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a class="page-link"  (click)="prevPage()" >Atrás</a></li>
	               <li class="page-item" *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
	                  <a class="page-link" (click)="setPage(page)"  >{{page}} </a>
	               </li>
	            <li class="page-item" [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a class="page-link"   (click)="nextPage()" >Siguiente</a></li>
	         </ul>
	      </div>
	    </div>  
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="modal-footer">
    <!-- <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click')">Aceptar</button> -->
  </div>
</ng-template>


<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading || loading2 || loading3" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>


