<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>Registro de Nueva Categoría</nb-card-header>
      <nb-card-body>

        <!-- <div class="row">
          <div class="col-md-12">
              <input placeholder="Buscar dirección por google maps..." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search  onFocus="geolocate()" >
           </div>
        </div> -->

        <form [formGroup]="myFormAgregar" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre" formControlName="nombre">
            <div *ngIf="myFormAgregar.get('nombre').errors && myFormAgregar.get('nombre').dirty">
              <p *ngIf="myFormAgregar.get('nombre').hasError('required')">Nombre es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre en Ingles</label>
            <input type="text" class="form-control" id="exampleInputNombre" placeholder="Ingles" formControlName="ingles">
            <div *ngIf="myFormAgregar.get('ingles').errors && myFormAgregar.get('ingles').dirty">
              <p *ngIf="myFormAgregar.get('ingles').hasError('required')">Ingles es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputCat">Categoría</label>
            <select class="form-control" id="exampleInputCat" formControlName="catprincipales_id">
              <!-- <option disabled selected>Selecciona una categoría</option> -->
              <option *ngFor="let categoria of categorias" [value]="categoria.id">{{categoria.nombre}} - {{categoria.ciudad.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputCat">Ciudad a la que pertenece la categoria principal</label>
            <select class="form-control" id="exampleInputCat" formControlName="ciudad_id">
              <!-- <option disabled selected>Selecciona una categoría</option> -->
              <option *ngFor="let c of ciudad" [value]="c.id">{{c.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <br>
            <label for="exampleInputImagen">Imagen</label>
            <input [hidden]="clear" type="file" name="imagen" id="imagen" (change)="onFileChange($event)" #fileInput accept="image/*">
              <div *ngIf="clear">
                <br>
                <output id="list"></output>
                <br>
                <br>
                <button type="button" class="btn btn-danger btn-tn" (click)="clearFile()">clear file</button>
              </div>

              <p [hidden]="clear" style="color: #c71717"><b>Sugerencia:</b>px.</p>
          </div>
          
          <br>
          <button type="submit" class="btn btn-info" (click)="crear()" [disabled]="mouvers_user_tipo =='6'">Agregar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>