<nb-card *ngIf="!viendo && mostrar">
  <nb-card-header>
    <div class="row show-grid">
          <div class="col-6">
            <div>Pedidos Cancelados</div>
          </div>
          <div class="col-6">
            <div>
              <div style="text-align: right;">
               <strong>Buscar: </strong>
               <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
              </div>
            </div>
          </div>
        </div>
  </nb-card-header>

  <nb-card-body>

    <table class="table">
      <thead>
         <!-- <th></th> -->
         <th style="text-align: center;">Pedido</th>
         <th style="text-align: center;">Servicio</th>
         <th style="text-align: center;">Usuario</th>
         <th style="text-align: center;">Zona</th>
         <th style="text-align: center;">Fecha</th>
         <th style="text-align: center;">Hora</th>
         <th style="text-align: center;">Hora Aceptación</th>
         <th style="text-align: center;">Estado</th>
         <th style="text-align: center;">Proveedor</th>
         <th style="text-align: center;">Motivo</th>
         <th style="text-align: center;">Finalizo</th>
         <th style="text-align: center;">Acciones</th>
      </thead>  
      <tbody>
         <tr *ngFor="let item of items" >
            <!-- <td></td> -->
            <td style="text-align: center; vertical-align:middle;">S00{{item.id}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.productos[0].descripcion}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.usuario.nombre}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.zonas.nombre}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.fecha}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.hora}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.hora_aceptado}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.estado}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.repartidor_nom}} </td>
            <td style="text-align: center; vertical-align:middle;">{{item.comentario}} </td>
            <td style="text-align: center; vertical-align:middle;">{{item.finalizo}} </td>
            <td style="text-align: center; vertical-align:middle;">
              <button type="button" class="btn btn-primary btn-icon btn-sm btn-table" title="Ver" (click)="ver(item)">
                <i class="fa fa-eye"></i>
              </button>
            </td>
         </tr>
      </tbody>
    </table>
      
  </nb-card-body>
  <nb-card-footer>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
         <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
      </div>
      <div class="btn-group pull-right">
         <ul class="pagination" >
            <li class="page-item" [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a class="page-link"  (click)="prevPage()" >Atrás</a></li>
               <li class="page-item" *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                  <a class="page-link" (click)="setPage(page)"  >{{page}} </a>
               </li>
            <li class="page-item" [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a class="page-link"   (click)="nextPage()" >Siguiente</a></li>
         </ul>
      </div>
    </div>  
  </nb-card-footer>
</nb-card>

<div class="viendo" *ngIf="viendo">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-header>
          Detalles del Pedido AI00{{selectedObj.id}}<br><br>
          <button  class="btn btn-tn btn-secondary" (click)="atras()"><i class="fa fa-arrow-left"></i> Atrás</button>
          <div class="pull-right" style="margin-right: 10px">
            Estado: {{selectedObj.estado}}
          </div>
        </nb-card-header>
        <nb-card-body>

          <h5 *ngIf="selectedObj.repartidor_nom"class="grid-h">Proveedor</h5>
          <div *ngIf="selectedObj.repartidor_nom"class="row show-grid">

            <div class="col-md-4">
              <div>Nombre</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.repartidor_nom}}</div>
            </div>

            <div *ngIf="selectedObj.repartidor" class="col-md-4">
              <div>Teléfono</div>
            </div>
            <div *ngIf="selectedObj.repartidor" class="col-md-8">
              <div>{{selectedObj.repartidor.usuario.telefono}}</div>
            </div>

          </div>

          <h5 class="grid-h">Fecha/Hora</h5>
          <div class="row show-grid">

            <div class="col-md-4">
              <div>Fecha</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.fecha}}</div>
            </div>

            <div class="col-md-4">
              <div>Hora</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.hora}}</div>
            </div>

          </div>

          <h5 class="grid-h">Usuario</h5>
          <div class="row show-grid">

            <div class="col-md-4">
              <div>Nombre</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.usuario.nombre}}</div>
            </div>

            <div class="col-md-4">
              <div>Email</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.usuario.email}}</div>
            </div>

            <div class="col-md-4">
              <div>Teléfono</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.usuario.telefono}}</div>
            </div>

            <!--div class="col-md-4">
              <div>Ciudad</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.usuario.ciudad}}</div>
            </div>

            <div class="col-md-4">
              <div>Estado</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.usuario.estado}}</div>
            </div-->

            <div *ngIf="selectedObj.destinatario" class="col-md-4">
              <div>Destinatario</div>
            </div>
            <div *ngIf="selectedObj.destinatario" class="col-md-8">
              <div>{{selectedObj.destinatario}}</div>
            </div>

            <div *ngIf="selectedObj.destinatario" class="col-md-4">
              <div>Teléfono</div>
            </div>
            <div *ngIf="selectedObj.destinatario" class="col-md-8">
              <div>{{selectedObj.telefono}}</div>
            </div>

          </div>

          <h5 class="grid-h">Referencias</h5>
          <div class="row show-grid">

            <div class="col-md-4">
              <div>Dirección</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.direccion}}</div>
            </div>

            <div class="col-md-4">
              <div>Referencia</div>
            </div>
            <div class="col-md-8">
              <div>{{selectedObj.referencia}}</div>
            </div>

            <div class="col-md-12">
              <div *ngIf="selectedObj.lat && selectedObj.lng">
                <!-- <strong>Aqui el mapa</strong> -->
                <agm-map style="height: 300px;" [zoom]="13" [latitude]="selectedObj.lat" [longitude]="selectedObj.lng">
                      <agm-marker style="height: 300px;" [latitude]="selectedObj.lat" [longitude]="selectedObj.lng"></agm-marker>
                  </agm-map>
              </div>
            </div>


          </div>

          
          <!--div class="table-responsive">
            <h5 class="grid-h">Productos Solicitados</h5>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>
                   Producto
                  </th>
                  <th>
                   Establecimiento
                  </th>
                  <th>
                   Solicitados
                  </th>
                  <th>
                   Precio Unit. <small>($)</small>
                  </th>
                  <th>
                   Sub-total <small>($)</small>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of selectedObj.productos">
                  <td class="text-center">
                    {{item.nombre}}
                  </td>
                  <td class="text-center">
                    {{item.establecimiento.nombre}}
                  </td>
                  <td class="text-center">
                    {{item.pivot.cantidad}}
                  </td>
                  <td class="text-center">
                    {{item.pivot.precio_unitario}}
                  </td>
                  <td class="text-center">
                    {{item.pivot.precio_unitario * item.pivot.cantidad}}
                  </td>
                </tr>
                
                <tr>
                  <td colspan="5"></td>
                </tr>
                <tr>
                  <td colspan="4" style="text-align: right;"><strong>Envío</strong> <small>($)</small></td>
                  <td class="text-center">{{selectedObj.costo_envio | number: '1.2-2'}}</td>
                </tr>
                <tr>
                  <td colspan="4" style="text-align: right;"><strong>Sub-total</strong> <small>($)</small></td>
                  <td class="text-center">{{selectedObj.subtotal | number: '1.2-2'}}</td>
                </tr>
                <tr>
                  <td colspan="4" style="text-align: right;"><strong>Total</strong> <small>($)</small></td>
                  <td class="text-center">{{selectedObj.costo | number: '1.2-2'}}</td>
                </tr> 
              </tbody>
            </table>
          </div-->

          <h5 >Calificación</h5>
          <div *ngFor="let item of selectedObj.calificacion" >
            <div class="row show-grid" *ngIf="item.usuario_id==selectedObj.repartidor.usuario_id">
              <div class="col-md-4">
                <div>Puntaje del Proveedor</div>
              </div>
              <div class="col-md-8" >
                <div>
                  <ngb-rating [(rate)]="item.puntaje" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ item.puntaje }}</span>
                </div>
              </div>

              <div *ngIf="item.comentario && item.comentario != ''" class="col-md-4">
                <div>Comentario</div>
              </div>
              <div *ngIf="item.comentario && item.comentario != ''" class="col-md-8">
                <div>{{item.comentario}}</div>
              </div>
            </div>
          </div>
         
           <br><br><br>

          <div  *ngFor="let item of selectedObj.calificacion" >
            <div class="row show-grid" *ngIf="item.usuario_id==selectedObj.usuario.id">
              <div class="col-md-4">
                <div>Puntaje del Usuario</div>
              </div>
              <div class="col-md-8" *ngIf="item.usuario_id==selectedObj.usuario.id">
                <div>
                  <ngb-rating [(rate)]="item.puntaje" max=5>
                    <ng-template let-fill="fill">
                      <span class="star fill" [class.filled]="fill === 100">
                        <i class="ion-android-star" *ngIf="fill === 100"></i>
                        <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                      </span>
                    </ng-template>
                  </ngb-rating>
                  <span class="current-rate">{{ item.puntaje }}</span>
                </div>
              </div>

              <div *ngIf="item.comentario && item.comentario != ''" class="col-md-4">
                <div>Comentario</div>
              </div>
              <div *ngIf="item.comentario && item.comentario != ''" class="col-md-8">
                <div>{{item.comentario}}</div>
              </div>
            </div>
          </div>
            <br><br><br><br>

          
        </nb-card-body>
        <nb-card-footer>
          <button  class="btn btn-tn btn-secondary" (click)="atras()"><i class="fa fa-arrow-left"></i> Atrás</button>
        </nb-card-footer>
      </nb-card>
    </div>
</div>
</div>

<ng-template #modal1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Producto: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Realmente desea eliminar el producto {{eliminar_nombre}}?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); eliminar()">Eliminar</button>
  </div>
</ng-template>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>