// @nebular theming framework
@import '~@nebular/theme/styles/theming';
// @nebular out of the box themes
@import '~@nebular/theme/styles/themes';

// which themes you what to enable (empty to enable all)
$nb-enabled-themes: (default, cosmic);

$nb-themes: nb-register-theme((
 // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  font-main: Roboto,
  font-secondary: Exo,
  color-fg-highlight: #76f8f6,
  link-color: #00203e,
  link-color-hover: #00203e,
  color-success: #0b417a,
  sidebar-fg2: #fff,
  color-primary: #0b417a,
  btn-padding-y-sm: 0.35rem,
  btn-padding-x-sm: 0.9rem,
  btn-font-size-sm: 1.5rem,
  color-danger: #00BCD4
), default, default);

$nb-themes: nb-register-theme((
  // app wise variables for each theme
  sidebar-header-gap: 2rem,
  sidebar-header-height: initial,
  layout-content-width: 1400px,
  link-color-hover: #00203e,
  color-success: #0b417a,
  sidebar-fg2: #fff,
  color-primary: #0b417a,
  color-fg-highlight: #76f8f6,
  font-main: Roboto,
  font-secondary: Exo,
  form-control-bg: #fff,
  form-control-focus-bg: #fff,
  form-control-border-color: #fff,
  form-control-selected-border-color: #fff,
  form-control-text-primary-color: #000,
  color-fg: #76f8f6
), cosmic, cosmic);
