<div class="row">
  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Pedidos en curso" type="primary" data="{{count_1}}">
      <i class="ion-ios-compose-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Pedidos depachados" type="success" data="{{count_2}}">
      <i class="ion-android-checkbox-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Pagos registrados" type="info" data="{{count_3}}">
      <i class="ion-card"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Dinero recaudado" type="warning" data="{{count_4}}">
      <i class="ion-social-usd"></i>
    </ngx-status-card>
  </div>
</div>


<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>

        <div style="position: absolute; top: 0px; right:15px;" >
          <button  type="button" class="btn btn-icon btn-tn" title="Refresh" (click)="getDiagram4()">
            <i class="fa fa-refresh icon-refresh"></i>
          </button>
        </div>

        <div style="text-align: center;" class="row show-grid">
          <div class="col-12">
            <div>
              Pedidos registrados por <br>hora
              <!-- <i class="fa fa-refresh icon-refresh" (click)="getDiagram4()"></i> -->
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12">
            <div [(ngModel)]="radioModelD4" ngbRadioGroup
               class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group btn-tn">
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="left"> Día
              </label>
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="right"> Mes
              </label>
            </div> 
          </div>
          <div style="margin-top: 10px" *ngIf="radioModelD4 == 'left'" class="col-12">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>Día</label>
                  <select id="dia" name="dia" class="form-control" [(ngModel)]="diaD4">
                    <option [value]="dia" *ngFor ="let dia of dias">{{dia}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD4">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD4">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12" *ngIf="radioModelD4 != 'left'">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD4">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD4">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="loadDiagram4" style="height: 458px;">
          <div class="loader" style="display:block; margin:auto;"></div>
        </div>
        <div *ngIf="!loadDiagram4 && !diagram4" style="height: 458px; text-align: center;">
          <p>Data no disponible.</p>
        </div>
        <div *ngIf="!loadDiagram4 && diagram4">
         <ngx-chartjs-bar [dataDiagrama]="pedidosA"></ngx-chartjs-bar>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<!-- <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div> -->


