<div class="row">
  <div class="col-xxxl-3 col-md-3">
    <ngx-status-card title="Pedidos sin aceptar" type="primary" data="{{count_2}}">
      <i class="ion-ios-compose-outline"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-3 col-md-3">
    <ngx-status-card title="Pedidos en curso" type="primary" data="{{count_3}}">
      <i class="ion-ios-compose-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
    <ngx-status-card title="Pedidos finalizados" type="success" data="{{count_4}}">
      <i class="ion-android-checkbox-outline"></i>
    </ngx-status-card>
  </div>

  <div class="col-xxxl-3 col-md-3">
    <ngx-status-card title="Pedidos cancelados" type="success" data="{{count_5}}">
      <i class="ion-android-checkbox-outline"></i>
    </ngx-status-card>
  </div>


  <!--div class="col-xxxl-3 col-md-6">
    <ngx-status-card title="Dinero recaudado" type="warning" data="{{count_4}}">
      <i class="ion-social-usd"></i>
    </ngx-status-card>
  </div-->
</div>
<div class="row">
  <div class="col-xxxl-6 col-md-6">
    <ngx-status-card title="Proveedores activos" type="info" data="{{count_a}}">
      <i class="ion-android-bicycle"></i>
    </ngx-status-card>
  </div>
  <div class="col-xxxl-6 col-md-6">
    <ngx-status-card title="Proveedores inactivos" type="info" data="{{count_i}}">
      <i class="ion-android-bicycle"></i>
    </ngx-status-card>
  </div>
</div>

<!-- <div class="row">
  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-temperature></ngx-temperature>
  </div>

  <div class="col-xxxl-9 col-xxl-8 col-lg-7 col-md-6">
    <ngx-electricity></ngx-electricity>
  </div>
</div>

<div class="row">
  <div class="col-xxxl-9 col-xl-12">
    <ngx-rooms></ngx-rooms>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-7 col-md-6">
    <ngx-contacts></ngx-contacts>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-lg-5 col-md-6">
    <ngx-solar [chartValue]="72"></ngx-solar>

    <ngx-kitten></ngx-kitten>
  </div>

  <div class="col-xxxl-3 col-xxl-4 col-md-5">
    <ngx-traffic></ngx-traffic>
    <ngx-weather></ngx-weather>
  </div>

  <div class="col-xxxl-6 col-xxl-12 col-md-7">
    <ngx-security-cameras></ngx-security-cameras>
  </div>
</div> -->

<div class="row">
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>

        <div style="position: absolute; top: 0px; right:15px;" >
          <button  type="button" class="btn btn-primary btn-icon btn-tn" title="Refresh" (click)="getDiagram1()">
            <i class="fa fa-refresh icon-refresh"></i>
          </button>
        </div>

        <div style="text-align: center" class="row show-grid">
          <div class="col-12">
            <div>
              Productos solicitados por <br>categoría
              <!-- <i class="fa fa-refresh icon-refresh" (click)="getDiagram1()"></i> -->
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12">
            <div [(ngModel)]="radioModelD1" ngbRadioGroup
               class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group btn-tn">
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="left"> Día
              </label>
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="right"> Mes
              </label>
            </div> 
          </div>
          <div class="col-12" *ngIf="radioModelD1 == 'left'" style="margin-top: 10px;">
            <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label>Día</label>
                <select id="dia" name="dia" class="form-control" [(ngModel)]="diaD1">
                  <option [value]="dia" *ngFor ="let dia of dias">{{dia}}</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Mes</label>
                <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD1">
                  <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label>Año</label>
                <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD1">
                  <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                </select>
              </div>
            </div>
          </div>
          </div>
          <div class="col-12" *ngIf="radioModelD1 != 'left'" style="margin-top: 10px;" >
            <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label>Mes</label>
                <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD1">
                  <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                </select>
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label>Año</label>
                <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD1">
                  <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                </select>
              </div>
            </div>
          </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="loadDiagram1" style="height: 458px;">
          <div class="loader" style="display:block; margin:auto;"></div>
        </div>
        <div *ngIf="!loadDiagram1 && !diagram1" style="height: 458px; text-align: center;">
          <p>Data no disponible.</p>
        </div>
       <!--  <chart class="diagrama" type="pie" *ngIf="!loadDiagram1 && categorias.length > 0" [data]="dataD1" [options]="optionsD1"></chart> -->
       <div *ngIf="!loadDiagram1 && diagram1">
         <ngx-chartjs-pie [dataDiagrama]="categorias"></ngx-chartjs-pie>
       </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>

        <div style="position: absolute; top: 0px; right:15px;" >
          <button  type="button" class="btn btn-primary btn-primary btn-icon btn-tn" title="Refresh" (click)="getDiagram2()">
            <i class="fa fa-refresh icon-refresh"></i>
          </button>
        </div>

        <div style="text-align: center;" class="row show-grid">
          <div class="col-12">
            <div>
              Productos solicitados por <br>subcategoría
              <!-- <i class="fa fa-refresh icon-refresh" (click)="getDiagram2()"></i> -->
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12">
            <div [(ngModel)]="radioModelD2" ngbRadioGroup
               class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group btn-tn">
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="left"> Día
              </label>
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="right"> Mes
              </label>
            </div> 
          </div>
          <div style="margin-top: 10px" class="col-12" *ngIf="radioModelD2 == 'left'">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>Día</label>
                  <select id="dia" name="dia" class="form-control" [(ngModel)]="diaD2">
                    <option [value]="dia" *ngFor ="let dia of dias">{{dia}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD2">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD2">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12" *ngIf="radioModelD2 != 'left'">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD2">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD2">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="loadDiagram2" style="height: 458px;">
          <div class="loader" style="display:block; margin:auto;"></div>
        </div>
        <div *ngIf="!loadDiagram2 && !diagram2" style="height: 458px; text-align: center;">
          <p>Data no disponible.</p>
        </div>
        <div *ngIf="!loadDiagram2 && diagram2">
         <ngx-chartjs-pie [dataDiagrama]="subcategorias"></ngx-chartjs-pie>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>

        <div style="position: absolute; top: 0px; right:15px;" >
          <button  type="button" class="btn btn-primary btn-icon btn-tn" title="Refresh" (click)="getDiagram3()">
            <i class="fa fa-refresh icon-refresh"></i>
          </button>
        </div>

        <div style="text-align: center;" class="row show-grid">
          <div class="col-12">
            <div>
              Productos solicitados por <br>Proveedor
              <!-- <i class="fa fa-refresh icon-refresh" (click)="getDiagram3()"></i> -->
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12">
            <div [(ngModel)]="radioModelD3" ngbRadioGroup
               class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group btn-tn">
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="left"> Día
              </label>
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="right"> Mes
              </label>
            </div> 
          </div>
          <div style="margin-top: 10px" class="col-12" *ngIf="radioModelD3 == 'left'">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>Día</label>
                  <select id="dia" name="dia" class="form-control" [(ngModel)]="diaD3">
                    <option [value]="dia" *ngFor ="let dia of dias">{{dia}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD3">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD3">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12" *ngIf="radioModelD3 != 'left'">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD3">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD3">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="loadDiagram3" style="height: 458px;">
          <div class="loader" style="display:block; margin:auto;"></div>
        </div>
        <div *ngIf="!loadDiagram3 && !diagram3" style="height: 458px; text-align: center;">
          <p>Data no disponible.</p>
        </div>
        <div *ngIf="!loadDiagram3 && diagram3">
         <ngx-chartjs-pie [dataDiagrama]="establecimientos"></ngx-chartjs-pie>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>

        <div style="position: absolute; top: 0px; right:15px;" >
          <button  type="button" class="btn btn-icon btn-tn" title="Refresh" (click)="getDiagram4()">
            <i class="fa fa-refresh icon-refresh"></i>
          </button>
        </div>

        <div style="text-align: center;" class="row show-grid">
          <div class="col-12">
            <div>
              Pedidos registrados por <br>hora
              <!-- <i class="fa fa-refresh icon-refresh" (click)="getDiagram4()"></i> -->
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12">
            <div [(ngModel)]="radioModelD4" ngbRadioGroup
               class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group btn-tn">
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="left"> Día
              </label>
              <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                <input ngbButton type="radio" value="right"> Mes
              </label>
            </div> 
          </div>
          <div style="margin-top: 10px" *ngIf="radioModelD4 == 'left'" class="col-12">
            <div class="row">
              <div class="col-4">
                <div class="form-group">
                  <label>Día</label>
                  <select id="dia" name="dia" class="form-control" [(ngModel)]="diaD4">
                    <option [value]="dia" *ngFor ="let dia of dias">{{dia}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD4">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-4">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD4">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div style="margin-top: 10px" class="col-12" *ngIf="radioModelD4 != 'left'">
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label>Mes</label>
                  <select id="mes" name="mes" class="form-control" [(ngModel)]="mesD4">
                    <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                  </select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label>Año</label>
                  <select id="anio" name="anio" class="form-control" [(ngModel)]="anioD4">
                    <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nb-card-header>
      <nb-card-body>
        <div *ngIf="loadDiagram4" style="height: 458px;">
          <div class="loader" style="display:block; margin:auto;"></div>
        </div>
        <div *ngIf="!loadDiagram4 && !diagram4" style="height: 458px; text-align: center;">
          <p>Data no disponible.</p>
        </div>
        <div *ngIf="!loadDiagram4 && diagram4">
         <ngx-chartjs-bar [dataDiagrama]="pedidosA"></ngx-chartjs-bar>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>

        <div style="position: absolute; top: 0px; right:15px;" >
            <button  type="button" class="btn btn-icon btn-tn" title="Refresh" (click)="getTabla2()">
              <i class="fa fa-refresh icon-refresh"></i>
            </button>
          </div>

          <div style="text-align: center;" class="row">
            <div class="col-12">
              <div>
                Calificaciones
                <!-- <i class="fa fa-refresh icon-refresh" (click)="getTabla2()"></i> -->
              </div>
            </div>
            <div style="margin-top: 10px" class="col-12">
              <div [(ngModel)]="radioModelT2" ngbRadioGroup
                 class="btn-group btn-toggle-group btn-outline-toggle-group btn-group-full-width btn-toggle-radio-group btn-tn">
                <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                  <input ngbButton type="radio" value="left"> Día
                </label>
                <label ngbButtonLabel class="btn btn-outline-info btn-tn">
                  <input ngbButton type="radio" value="right"> Mes
                </label>
              </div> 
            </div>
            <div style="margin-top: 10px" class="col-12" *ngIf="radioModelT2 == 'left'">
              <div class="row">
                <div class="col-4">
                  <div class="form-group">
                    <label>Día</label>
                    <select id="dia" name="dia" class="form-control" [(ngModel)]="diaT2">
                      <option [value]="dia" *ngFor ="let dia of dias">{{dia}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Mes</label>
                    <select id="mes" name="mes" class="form-control" [(ngModel)]="mesT2">
                      <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-4">
                  <div class="form-group">
                    <label>Año</label>
                    <select id="anio" name="anio" class="form-control" [(ngModel)]="anioT2">
                      <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div style="margin-top: 10px" class="col-12" *ngIf="radioModelT2 != 'left'">
              <div class="row">
                <div class="col-6">
                  <div class="form-group">
                    <label>Mes</label>
                    <select id="mes" name="mes" class="form-control" [(ngModel)]="mesT2">
                      <option [value]="mes" *ngFor ="let mes of meses">{{mes}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-6">
                  <div class="form-group">
                    <label>Año</label>
                    <select id="anio" name="anio" class="form-control" [(ngModel)]="anioT2">
                      <option [value]="anio" *ngFor ="let anio of anios">{{anio}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

      </nb-card-header>
      <nb-card-body>

          <div *ngIf="loadTabla2" style="height: 458px;">
            <div class="loader" style="display:block; margin:auto;"></div>
          </div>
          <div *ngIf="!loadTabla2 && !tabla2" style="height: 458px; text-align: center;">
            <p>Data no disponible.</p>
          </div>
          <div *ngIf="!loadTabla2 && tabla2">
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>
                     Pedido
                    </th>
                    <th>
                     Puntaje
                    </th>
                    <th>
                     Comentario
                    </th>
                    <th>
                     Proveedor
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of calificaciones">
                    <td class="text-center">
                      S00{{item.pedido_id}}
                    </td>
                    <td class="text-center">
                      <div>
                        <ngb-rating [(rate)]="item.puntaje" max=5>
                          <ng-template let-fill="fill">
                            <span class="star fill" [class.filled]="fill === 100">
                              <i class="ion-android-star" *ngIf="fill === 100"></i>
                              <i class="ion-android-star-outline" *ngIf="fill !== 100"></i>
                            </span>
                          </ng-template>
                        </ngb-rating>
                        <span class="current-rate">{{item.puntaje}}</span>
                      </div>
                    </td>
                    <td class="text-center">
                      {{item.comentario}}
                    </td>
                    <td class="text-center">
                      {{item.pedido.repartidor_nom}}
                    </td>
                    
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </nb-card-body>
    </nb-card>
  </div>
</div>


<toaster-container [toasterconfig]="config"></toaster-container>

<!-- <div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div> -->


