<!-- <div class="container">
  <div class="col-md-12">
    Inicio de sesión loginf
      
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo electronico</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Correo electronico" [(ngModel)]="email" name="email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Contraseña</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña" [(ngModel)]="password" name="password">
          </div>
          <div class="form-group">
            Recordar mis datos
          </div>
          <button type="submit" class="btn btn-success" (click)="Ingresar()">Ingresar</button>
        </form>
  </div>
</div> -->

<nb-layout >

  <nb-layout-column style="background-color: rgba(0,82,150,1);">
    <!-- <nb-card-header>
      <h2 class="title">Login</h2>
      <small class="form-text sub-title">Hola! Ingresa con tu Email y Password</small>
    </nb-card-header> -->
    <nb-card style="background-color: rgba(255,255,255,1);">
      <nb-card-body>
        
        
        <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">

          <img src="assets/images/service24.png" alt="" height="auto" width="350px" style="display:block; margin:auto"/>
          <br>
          <br>
          <h2 class="title" style="color: rgba(0,0,0,1);">INICIAR SESIÓN</h2>
          <!-- <small class="form-text sub-title">Para acceder ingresa tu Email y Password</small> -->
          <br>

          <form (ngSubmit)="Ingresar()" #form="ngForm" autocomplete="nope">

            <div class="form-group">
              <label for="input-email" style="color: rgba(0,0,0,1);">EMAIL</label>
                <input name="email" [(ngModel)]="email" id="input-email" pattern=".+@.+..+" class="form-control" placeholder="" style="background-color: rgba(228,118,21,1);">
            </div>

            <div class="form-group">
              <label for="input-password" style="color: rgba(0,0,0,1);">PASSWORD</label>
              <input name="password" [(ngModel)]="password" type="password" id="input-password" class="form-control" placeholder=""  style="background-color: rgba(228,118,21,1);"> 
            </div>

            <button [disabled]="submitted || !form.valid" class="btn btn-block btn-hero-success"                [class.btn-pulse]="submitted">INGRESAR </button>
          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div> 



  