<div class="row">
  <div class="col-lg-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>Registro de Nuevo Producto</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myFormAgregar" novalidate>
          <div class="form-group">
            <label for="exampleInputNombre">Nombre</label>
            <input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre" formControlName="nombre">
            <div *ngIf="myFormAgregar.get('nombre').errors && myFormAgregar.get('nombre').dirty">
              <p *ngIf="myFormAgregar.get('nombre').hasError('required')">Nombre es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPrecio">Precio</label>
            <input type="number" class="form-control" id="exampleInputPrecio" placeholder="Precio" formControlName="precio">
          </div>
          <div class="form-group">
            <label for="exampleInputDescripcion">Descripción</label>
            <textarea class="form-control" id="exampleInputDescripcion" placeholder="Descripción" formControlName="descripcion"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputSubcat">Subcategoría</label>
            <select class="form-control" id="exampleInputSubcat" formControlName="subcategoria_id">
              <!-- <option disabled selected>Selecciona una categoría</option> -->
              <option *ngFor="let subcategoria of subcategorias" [value]="subcategoria.id">{{subcategoria.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleInputEstb">Establecimiento</label>
            <input [disabled]="true" type="text" class="form-control" id="exampleInputEstb" placeholder="Nombre" value="{{establecimiento_nom}}">
          </div>
          <!-- <div class="form-group">
            <br>
            <label for="exampleInputImagen">Imagen</label>
            <input [hidden]="clear" type="file" name="imagen" id="imagen" (change)="onFileChange($event)" #fileInput accept="image/*">
              <div *ngIf="clear">
                <br>
                <output id="list"></output>
                <br>
                <br>
                <button type="button" class="btn btn-danger btn-tn" (click)="clearFile()">clear file</button>
              </div>
          </div> -->
          
          <br>
          <button type="submit" class="btn btn-info" (click)="crear()" [disabled]="myFormAgregar.invalid">Agregar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>