<nb-card *ngIf="!editando && mostrar">
  <nb-card-header>
    <div class="row show-grid">
          <div class="col-6">
            <div>Lista de Establecimientos</div>
          </div>
          <div class="col-6">
            <div>
              <div style="text-align: right;">
               <strong>Buscar: </strong>
               <input  type="text"  id="inputName" [(ngModel)]="inputName" (ngModelChange)="FilterByName()"/>
              </div>
            </div>
          </div>
        </div>
  </nb-card-header>

  <nb-card-body>

    <table class="table">
      <thead>
         <!-- <th style="text-align: center;">ID</th> -->
         <th style="text-align: center;">Nombre</th>
         <th style="text-align: center;">Dirección</th>
         <th style="text-align: center;">Estado</th>
         <th style="text-align: center;">Acciones</th>
      </thead>
      <tbody>
         <tr *ngFor="let item of items" >
            <td style="text-align: center; vertical-align:middle;">{{item.nombre}}</td>
            <td style="text-align: center; vertical-align:middle;">{{item.direccion}}</td>
            <td style=" vertical-align:middle;">
              <div *ngIf="mostrarSwiches" class="estado" style="display:block; margin:auto">
                <label class="theme-switch">
                  <span class="light">OFF</span>
                  <div class="switch">
                    <input type="checkbox" [checked]="item.estado === 'ON'" (change)="cambioSwicheEstable(item, modal2)" #theme>
                    <span class="slider"></span>
                  </div>
                  <span class="cosmic">ON</span>
                </label>
              </div>
            </td> 
            <td style="text-align: center; vertical-align:middle;">
              <button type="button" class="btn btn-primary btn-icon btn-sm btn-table" title="Editar" (click)="aEditar(item)">
                <i class="nb-edit"></i>
              </button>
              <button type="button" class="btn btn-danger btn-icon btn-sm btn-table" title="Eliminar" (click)="open(modal1); aEliminar(item)">
                <i class="nb-trash"></i>
              </button>
            </td>
         </tr>
      </tbody>
    </table>
      
  </nb-card-body>
  <nb-card-footer>
    <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
         <label style="margin-top:10px">Página {{currentIndex}}/{{pageNumber}} </label>
      </div>
      <div class="btn-group pull-right">
         <ul class="pagination" >
            <li class="page-item" [ngClass]="{'disabled': (currentIndex == 1 || pageNumber == 0)}" ><a class="page-link"  (click)="prevPage()" >Atrás</a></li>
               <li class="page-item" *ngFor="let page of pagesIndex"  [ngClass]="{'active': (currentIndex == page)}">
                  <a class="page-link" (click)="setPage(page)"  >{{page}} </a>
               </li>
            <li class="page-item" [ngClass]="{'disabled': (currentIndex == pageNumber || pageNumber == 0)}" ><a class="page-link"   (click)="nextPage()" >Siguiente</a></li>
         </ul>
      </div>
    </div>  
  </nb-card-footer>
</nb-card>

<div class="row" [hidden]="!editando">
  <div class="col-lg-6" style="display:block; margin:auto">
    <nb-card>
      <nb-card-header>Editar Establecimiento</nb-card-header>
      <nb-card-body>
        <form [formGroup]="myFormEditar" novalidate>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input type="text" class="form-control" id="exampleInputNombre" placeholder="Nombre" formControlName="nombre">
            <div *ngIf="myFormEditar.get('nombre').errors && myFormEditar.get('nombre').dirty">
              <p *ngIf="myFormEditar.get('nombre').hasError('required')">Nombre es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail" placeholder="Email" formControlName="email">
            <div *ngIf="myFormEditar.get('email').errors && myFormEditar.get('email').dirty">
              <p *ngIf="myFormEditar.get('email').hasError('required')">Email es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password" formControlName="password">
            <div *ngIf="myFormEditar.get('password').errors && myFormEditar.get('password').dirty">
              <p *ngIf="myFormEditar.get('password').hasError('required')">Password es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword2">Confirmar Password</label>
            <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" formControlName="password2">
            <div *ngIf="myFormEditar.get('password2').errors && myFormEditar.get('password2').dirty">
              <p *ngIf="myFormEditar.get('password2').hasError('required')">Password es requerido</p>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputTelefono">Teléfono</label>
            <input type="text" class="form-control" id="exampleInputTelefono" placeholder="Telefono" formControlName="telefono">
            <div *ngIf="myFormEditar.get('telefono').errors && myFormEditar.get('telefono').dirty">
              <p *ngIf="myFormEditar.get('telefono').hasError('required')">Teléfono es requerido</p>
            </div>
          </div>
          <!--div *ngIf="estados" class="form-group">
            <label for="exampleInputEstado">Estado</label>
            <select class="form-control" id="exampleInputEstado" formControlName="estado_geo"
            (change)="setEstado2($event.target.value)">
              <option *ngFor="let estado of estados" [value]="estado.nom_ent">{{estado.nom_ent}}</option>
            </select>
          </div>
          <div *ngIf="estados" class="form-group">
            <label for="exampleInputCiudad">Ciudad</label>
            <select class="form-control" id="exampleInputCiudad" formControlName="ciudad">
              <option *ngFor="let ciudad of ciudades" [value]="ciudad.nom_mun">{{ciudad.nom_mun}}</option>
            </select>
          </div-->
          <div class="form-group">
            <label for="exampleInputDireccion">Dirección</label>
            <input type="text" name="direccion" class="form-control" id="exampleInputDireccion" placeholder="Dirección" formControlName="direccion" (blur)="setDireccion()">
            <div *ngIf="myFormEditar.get('direccion').errors && myFormEditar.get('direccion').dirty">
              <p *ngIf="myFormEditar.get('direccion').hasError('required')">Dirección es requerido</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
                <input placeholder="Buscar dirección por google maps..." autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search  onFocus="geolocate()" >
            </div>
          </div>
          
          <br>
          <div class="row">  
            <div class="col-md-12">
                <agm-map *ngIf="mapa" style="height: 300px;" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                  <agm-marker style="height: 300px;" [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"></agm-marker>
                </agm-map>
            </div>   
          </div>

          <br>
          <h4>Horario:</h4>
          <br>
          <div class="row">  
            <strong style="text-align: center;width: 100%;">Lunes</strong><br>
          </div> 
          <div class="row">
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="lunes_i" 
              >
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="lunes_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div> 
          <div class="row">  
            <strong style="text-align: center;width: 100%;">Martes</strong><br>
          </div> 
          <div class="row">
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="martes_i">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="martes_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div>  
          <div class="row">  
            <strong style="text-align: center;width: 100%;">Miercoles</strong><br>
          </div> 
          <div class="row">
            <div class="col-md-6"><strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado"  formControlName="miercoles_i">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6"><strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado"  formControlName="miercoles_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div> 
          <div class="row">  
            <strong style="text-align: center;width: 100%;">Jueves</strong><br> 
          </div>
          <div class="row">
            <div class="col-md-6"><strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="jueves_i">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6"><strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="jueves_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div> 
          <div class="row">  
            <strong style="text-align: center;width: 100%;">Viernes</strong><br> 
          </div>
          <div class="row">
            <div class="col-md-6"><strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="viernes_i">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6"><strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="viernes_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div>

          <div class="row">  
            <strong  style="text-align: center;width: 100%;">Sabado</strong><br> 
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado"  formControlName="sabado_i">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado"  formControlName="sabado_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div> 

          <div class="row">  
            <strong  style="text-align: center;width: 100%;">Domingo</strong><br> 
          </div>
          <div class="row">
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Inicio:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="domingo_i">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>
            <div class="col-md-6">
              <strong style="text-align: left;width: 100%;">Fin:</strong>
              <select class="form-control" id="exampleInputEstado" formControlName="domingo_f">
                <option *ngFor="let h of horas" [value]="h.h">{{h.h}}</option>
              </select>
            </div>   
          </div>  
          <br>
          
          <br>
          <button class="btn btn-secondary" (click)="atras()">Cancelar</button>
          <button type="submit" class="btn btn-primary" (click)="editar()" [disabled]="myFormEditar.invalid">Editar</button>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #modal1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Eliminar Establecimiento: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>¿Realmente desea eliminar el establecimiento {{eliminar_nombre}}?</p>
    <p>Nota: Se eliminará el establecimineto y sus productos.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click')">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click'); eliminar()">Eliminar</button>
  </div>
</ng-template>

<ng-template #modal2 let-c="close" let-d="dismiss" size="lg">
  <div class="modal-header">
    <h4 class="modal-title">Productos del Establecimiento {{habEstablecimiento.nombre}}: </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click'); apagarSwiche()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <nb-card >
      <nb-card-header>
        <div class="row show-grid">
              <div class="col-6">
                <div>Lista de Productos</div>
              </div>
              <div class="col-6">
                <div>
                  <div style="text-align: right;">
                   <strong>Buscar: </strong>
                   <input  type="text"  id="inputName2" [(ngModel)]="inputName2" (ngModelChange)="FilterByName2()"/>
                  </div>
                </div>
              </div>
            </div>
      </nb-card-header>

      <nb-card-body>

        <table class="table table-striped">
          <thead>
             <!-- <th style="text-align: center;">ID</th> -->
             <!-- <th style="text-align: center;">Imagen</th> -->
             <th style="text-align: center;">Nombre</th>
             <th style="text-align: center;">Estado</th>
          </thead>
          <tbody>
             <tr *ngFor="let item of items2" >
                <!-- <td style="text-align: center; vertical-align:middle;"><img src = "{{item.imagen}}" alt="" height="auto" width="60px"></td> -->
                <td style="text-align: center; vertical-align:middle;">{{item.nombre}}</td>
                <td style="text-align: center; vertical-align:middle;">
                  <!-- <div class="estado" style="display:block; margin:auto">
                    <label class="theme-switch">
                      <span class="light">OFF</span>
                      <div class="switch">
                        <input type="checkbox" [checked]="item.estado === 'ON'" (change)="cambioSwicheProd(item)" #theme>
                        <span class="slider"></span>
                      </div>
                      <span class="cosmic">ON</span>
                    </label>
                  </div> -->
                  <nb-checkbox [value]="item.estado === 'ON'" (change)="cambioSwicheProd(item)">{{item.estado}}</nb-checkbox>
                </td> 
                
             </tr>
          </tbody>
        </table>
          
      </nb-card-body>
      <nb-card-footer>
        <div class="btn-toolbar" role="toolbar" style="margin: 0;">
          <div class="btn-group">
             <label style="margin-top:10px">Página {{currentIndex2}}/{{pageNumber2}} </label>
          </div>
          <div class="btn-group pull-right">
             <ul class="pagination" >
                <li class="page-item" [ngClass]="{'disabled': (currentIndex2 == 1 || pageNumber2 == 0)}" ><a class="page-link"  (click)="prevPage2()" >Atrás</a></li>
                   <li class="page-item" *ngFor="let page of pagesIndex2"  [ngClass]="{'active': (currentIndex2 == page)}">
                      <a class="page-link" (click)="setPage2(page)"  >{{page}} </a>
                   </li>
                <li class="page-item" [ngClass]="{'disabled': (currentIndex2 == pageNumber2 || pageNumber2 == 0)}" ><a class="page-link"   (click)="nextPage2()" >Siguiente</a></li>
             </ul>
          </div>
        </div>  
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="c('Close click'); apagarSwiche()">Cancelar</button>
    <button type="button" class="btn btn-danger" (click)="c('Close click') ; habilitarEstable()">Aceptar</button>
  </div>
</ng-template>

<toaster-container [toasterconfig]="config"></toaster-container>

<div class="my-container">
    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '4px' }"></ngx-loading>
</div>